{
	"TargetName" : "projectvelorumEditor",
	"Platform" : "Win64",
	"Configuration" : "Development",
	"BuildId" : "",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 11,
		"PatchVersion" : 2,
		"Changelist" : 2946394,
		"IsLicenseeVersion" : 0,
		"BranchName" : "++UE4+Release-4.11"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)\\Plugins\\AdvancedSessions\\Binaries\\Win64\\UE4Editor-AdvancedSessions.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\AdvancedSessions\\Binaries\\Win64\\UE4Editor-AdvancedSessions.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\AdvancedSessions\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-AdvancedSessions.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\AdvKitPlugin\\Binaries\\Win64\\UE4Editor-AdvKitRuntime.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\AdvKitPlugin\\Binaries\\Win64\\UE4Editor-AdvKitRuntime.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\AdvKitPlugin\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-AdvKitRuntime.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\AdvKitPlugin\\Binaries\\Win64\\UE4Editor-AdvKitEditor.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\AdvKitPlugin\\Binaries\\Win64\\UE4Editor-AdvKitEditor.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\AdvKitPlugin\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-AdvKitEditor.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\Binaries\\Win64\\UE4Editor-BluLoader.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\Binaries\\Win64\\UE4Editor-BluLoader.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-BluLoader.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\Binaries\\Win64\\UE4Editor-Blu.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\Binaries\\Win64\\UE4Editor-Blu.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-Blu.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BTUtilityPlugin\\Binaries\\Win64\\UE4Editor-BTUtilityPlugin.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BTUtilityPlugin\\Binaries\\Win64\\UE4Editor-BTUtilityPlugin.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BTUtilityPlugin\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-BTUtilityPlugin.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\CustomGravityPlugin\\Binaries\\Win64\\UE4Editor-CustomGravityPlugin.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\CustomGravityPlugin\\Binaries\\Win64\\UE4Editor-CustomGravityPlugin.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\CustomGravityPlugin\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-CustomGravityPlugin.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\FluidSurface\\Binaries\\Win64\\UE4Editor-FluidSurface.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\FluidSurface\\Binaries\\Win64\\UE4Editor-FluidSurface.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\FluidSurface\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-FluidSurface.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\FluidSurface\\Binaries\\Win64\\UE4Editor-FluidSurfaceEngine.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\FluidSurface\\Binaries\\Win64\\UE4Editor-FluidSurfaceEngine.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\FluidSurface\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-FluidSurfaceEngine.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\GamepadUMGPlugin\\Binaries\\Win64\\UE4Editor-GamepadUMGPlugin.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\GamepadUMGPlugin\\Binaries\\Win64\\UE4Editor-GamepadUMGPlugin.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\GamepadUMGPlugin\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-GamepadUMGPlugin.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\GitPush\\Binaries\\Win64\\UE4Editor-GitPush.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\GitPush\\Binaries\\Win64\\UE4Editor-GitPush.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\GitPush\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-GitPush.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\LookAtComponentPlugin\\Binaries\\Win64\\UE4Editor-LookAtComponentPlugin.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\LookAtComponentPlugin\\Binaries\\Win64\\UE4Editor-LookAtComponentPlugin.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\LookAtComponentPlugin\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-LookAtComponentPlugin.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\OceanPlugin\\Binaries\\Win64\\UE4Editor-OceanPlugin.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\OceanPlugin\\Binaries\\Win64\\UE4Editor-OceanPlugin.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\OceanPlugin\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-OceanPlugin.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\OffscreenIndicator\\Binaries\\Win64\\UE4Editor-OffscreenIndicator.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\OffscreenIndicator\\Binaries\\Win64\\UE4Editor-OffscreenIndicator.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\OffscreenIndicator\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-OffscreenIndicator.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\PurpleprintKitPlugin\\Binaries\\Win64\\UE4Editor-PPKLibrary.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\PurpleprintKitPlugin\\Binaries\\Win64\\UE4Editor-PPKLibrary.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\PurpleprintKitPlugin\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-PPKLibrary.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\RakNet\\Binaries\\Win64\\UE4Editor-RakNet.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\RakNet\\Binaries\\Win64\\UE4Editor-RakNet.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\RakNet\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-RakNet.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\ScalabilityLibrary\\Binaries\\Win64\\UE4Editor-ScalabilityLibrary.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\ScalabilityLibrary\\Binaries\\Win64\\UE4Editor-ScalabilityLibrary.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\ScalabilityLibrary\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-ScalabilityLibrary.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\UE4-DialogueSystem-master\\Binaries\\Win64\\UE4Editor-DialogueSystem.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\UE4-DialogueSystem-master\\Binaries\\Win64\\UE4Editor-DialogueSystem.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\UE4-DialogueSystem-master\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-DialogueSystem.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\UE4-DialogueSystem-master\\Binaries\\Win64\\UE4Editor-DialogueSystemEditor.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\UE4-DialogueSystem-master\\Binaries\\Win64\\UE4Editor-DialogueSystemEditor.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\UE4-DialogueSystem-master\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-DialogueSystemEditor.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\VaRest-master\\Binaries\\Win64\\UE4Editor-VaRestPlugin.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\VaRest-master\\Binaries\\Win64\\UE4Editor-VaRestPlugin.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\VaRest-master\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-VaRestPlugin.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\VaRest-master\\Binaries\\Win64\\UE4Editor-VaRestEditorPlugin.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\VaRest-master\\Binaries\\Win64\\UE4Editor-VaRestEditorPlugin.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\VaRest-master\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-VaRestEditorPlugin.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\VictoryPlugin-master\\Binaries\\Win64\\UE4Editor-VictoryBPLibrary.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\VictoryPlugin-master\\Binaries\\Win64\\UE4Editor-VictoryBPLibrary.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\VictoryPlugin-master\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-VictoryBPLibrary.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-projectvelorum.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-projectvelorum.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-projectvelorum.lib",
			"Type" : "ImportLibrary"
		}
	],
	"RuntimeDependencies" :
	[
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/Steamworks/Steamv132/Win64/steam_api64.dll"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\blu_ue4_process.exe"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\cef.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\cef_100_percent.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\cef_200_percent.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\d3dcompiler_43.dll"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\d3dcompiler_47.dll"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\devtools_resources.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\ffmpegsumo.dll"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\icudtl.dat"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\libcef.dll"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\libEGL.dll"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\libGLESv2.dll"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\natives_blob.bin"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\snapshot_blob.bin"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\am.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\ar.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\bg.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\bn.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\ca.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\cs.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\da.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\de.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\el.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\en-GB.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\en-US.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\es-419.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\es.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\et.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\fa.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\fi.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\fil.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\fr.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\gu.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\he.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\hi.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\hr.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\hu.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\id.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\it.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\ja.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\kn.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\ko.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\lt.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\lv.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\ml.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\mr.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\ms.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\nb.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\nl.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\pl.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\pt-BR.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\pt-PT.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\ro.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\ru.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\sk.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\sl.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\sr.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\sv.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\sw.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\ta.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\te.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\th.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\tr.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\uk.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\vi.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\zh-CN.pak"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BLUI\\ThirdParty\\cef\\Win\\shipping\\locales\\zh-TW.pak"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3PROFILE_x64.dll"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3PROFILE_x64.pdb",
			"IgnoreIfMissing" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3CommonPROFILE_x64.dll"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3CommonPROFILE_x64.pdb",
			"IgnoreIfMissing" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3CookingPROFILE_x64.dll"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3CookingPROFILE_x64.pdb",
			"IgnoreIfMissing" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/nvToolsExt64_1.dll"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_ClothingPROFILE_x64.dll"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_ClothingPROFILE_x64.dll.pdb",
			"IgnoreIfMissing" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_DestructiblePROFILE_x64.dll"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_DestructiblePROFILE_x64.dll.pdb",
			"IgnoreIfMissing" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_LegacyPROFILE_x64.dll"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_LegacyPROFILE_x64.dll.pdb",
			"IgnoreIfMissing" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/ApexFrameworkPROFILE_x64.dll"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/ApexFrameworkPROFILE_x64.dll.pdb",
			"IgnoreIfMissing" : true
		}
	]
}